
.about {
    display: grid;
    grid-template-columns: 16rem repeat(7, 1fr) 16rem;
    @media only screen and (max-width: $bp-large) {
        grid-template-columns: 8rem repeat(5, 1fr) 8rem;
    }
    grid-template-rows: repeat(3, 30rem); //calc((100vh - #{ $header-height })/2)
    column-gap: 1rem;

    align-items: center;
    justify-items: center;

    &__paragraph {
        font-family: $font-primary;
        font-size: 2rem;
        z-index: 1;
        width: 60%;
    
        &--1 {
            text-align: left;
            grid-row: 1 / 2;
            grid-column: 3 / span 3;
        }

        &--2 {
            text-align: right;
            grid-row: 2 / 3;
            grid-column: 5 / span 3;
        }
        &--3 {
            text-align: center;
            grid-row: 3 / 4;
            grid-column: 4 / span 3;
        }
    }

    &__background {
        display: block;
        height: 70%;
        width: 90%;
        z-index: 0;

        &--1 {
            grid-row: 1 / 2;
            grid-column: 3 / span 3;
        }

        &--2 {
            grid-row: 2 / 3;
            grid-column: 5 / span 3;
        }

        &--3 {
            grid-row: 3 / 4;
            grid-column: 4 / span 3;
            height: 90%;
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;
        z-index: 0;
        padding: 2rem;

        &--pig {
            grid-row: 1 / 2;
            grid-column: 7 / 8;
        }

        &--laptop {
            grid-row: 1 / 2;
            grid-column: 6 / 7;
        }

        &--puzzle {
            grid-row: 2 / 3;
            grid-column: 3 / 4;
        }

        &--camera {
            grid-row: 2 / 3;
            grid-column: 4 / 5;
        }
    }

    &__info {
        margin-top: 4rem;
        grid-row: 4 / 5;
        grid-column: 2 / -2;
        width: 100%;
        row-gap: 1rem;
        display: grid;
        grid-template-columns: 20rem 1fr;
        grid-template-rows: repeat(3, 20rem);

        justify-items: center;
        align-items: center;
    }

    &__card {
        grid-column: 1 / 2;
        width: 18rem;
        height: 18rem;
        border-radius: 10px;
        background-color: $color-secondary;
        cursor: pointer;
        transition: all $card-transition-speed;
        box-shadow: $shadow-dark-3;

        display: grid;
        grid-template-rows: 1fr max-content max-content 1fr;
        justify-items: center;
        position: relative;

        &--title {
            grid-row: 3 / 4;

            line-height: 1;
            font-size: 2.2rem;
            font-family: $font-display;
            opacity: 1;
            transition: all $card-transition-speed;
        }

        &:hover {
            background-color: $color-primary;
            width: 19rem;
            height: 19rem;
        }

        &:hover &--title {
            font-size: 2.4rem;
        }

        &:hover .about__icon {
            width: 15rem;
        }

        &--selected, &--selected:hover {
            width: 20rem;
            height: 20rem;
            background-color: $color-primary;

            & .about__card--title {
                font-size: 2.6rem;
            }

            & .about__icon {
                width: 16rem;
            }
        }

        
    }

    &__icon {
        grid-row: 2 / 3;

        width: 13rem;
        height: auto;
        transition: all $card-transition-speed;
        display: block;
        object-fit: scale-down;
    }

    &__content {
        grid-row: 1 / 4;
        grid-column: 2 / 3;
        height: 100%;
        width: 100%;

        display: grid;
        grid-template-rows: min-content 1fr;

        &--heading {
            font-size: 4rem;
            font-family: $font-display;
            text-align: center;
        }
    }
}

.card {
    border-radius: 20px;
    border: 4px solid $color-secondary;
    padding: 2rem 1.2rem 2rem;

    display: grid;
    grid-template-rows: 1fr max-content 12rem;
    justify-items: center;
    row-gap: .4rem;
    transition: all .3s;

    &:hover {
        transform: translateY(-6px);
    }

    &__icon {
        height: 10rem;
        width: auto;
        padding: .5rem;
        fill: transparent;
        stroke: $color-primary;

        @media only screen and (max-width: $bp-large) {
            height: 6rem;
            width: 6rem;
        }
    }

    &__title {
        font-size: 1.8rem;
        font-family: $font-display;
    }

    &__desc {
        font-size: 1.6rem;
        text-align: center;
        font-family: $font-primary;
    }
}


.content-container {
    display: grid;
    animation: fadeIn .8s ease-out; //set animation to be done 

    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: min-content 1fr;
}


.delivery {

    &__cards {
        grid-row: 1 / 2;
        grid-column: 2 / span 6;
        padding-top: 3rem;
        height: 36rem;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
    }

    &__desc {
        align-self: start;
        grid-row: 2 / 3;
        grid-column: 2 / span 6;

        padding-top: 3rem;
        font-size: 2rem;
        text-align: center;
    }
}



.content {

    &__cards {
        grid-row: 1 / 2;
        grid-column: 2 / span 6;
        padding-top: 3rem;
        height: 36rem;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }

    &__lessons {
        grid-row: 2 / 3;
        grid-column: 2 / span 6;
        padding-top: 2rem;

        display: grid;
        justify-items: stretch;
        grid-template-rows: max-content 1fr;

        &--heading {
            padding-bottom: 1rem;
            font-size: 2.4rem;
            font-display: $font-display;
            text-align: center;
        }

        &--list {
            width: 100;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: min-content min-content;
        }
    }

    &__lesson {
        background-color: $color-primary;
        border-radius: 10px;
        font-family: $font-display;
        padding: .4rem;
        font-size: 1.4rem;
        text-align: center;
        margin: .5rem;
        box-shadow: $shadow-dark-1;
    }
}


.resources {

    &__desc {
        grid-column: 2 / span 6;
        font-size: 2.4rem;
        text-align: center;
        padding-top: 6rem;
    }

    &__list {
        grid-column: 2 / span 6;
        align-self: start;
        width: 100%;
        padding-top: 6rem;

        display: grid;
        grid-template-columns: repeat(4, minmax(max-content, 1fr));
        column-gap: 1rem;
        row-gap: 3rem;
        align-items: center;
        
    }

    &__item {
        background-color: $color-primary;
        padding: .5rem 3rem;
        border-radius: 5px;
        text-align: center;
        box-shadow: $shadow-dark-1;
        transition: all .3s;
        cursor: pointer;

        &:hover {
            box-shadow: $shadow-dark-2;
            transform: translateY(-3px);
        }


        &--desc {
            font-size: 2rem;
        }
    }
}